table th {
  background-color: antiquewhite;
  color:black;
}

.card-body {
	text-align: center; 
}

.customer-table1 {
  width:100%;
}

.card-title {
  font-weight: bold;
  margin : 20px 0px 20px 50px;
}

.main-panel {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}

.selectbox {
	margin-right:10px;
	background-color: white;
	border:0;
	outline: none;
}

.card{
	height: 700px;
	width: 90%;
}