<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mypageInfoCancel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/mypage.css" type="text/css"/>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a th:href="@{/test}"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
   <header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-3 col-lg-2">
					<div class="header__logo">
						<a th:href="@{/test}"><img src="img/mainlogo.png" alt=""></a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7">
					<nav class="header__menu">
						<ul>
							<li class="active"><a href="./index.html">Home</a></li>
							<li><a href="#">about</a></li>
							<li><a href="#">shop</a></li>
							<li><a th:href="@{/mypageMain}">my page</a>
								<ul class="dropdown">
									<li><a th:href="@{/mypageShoppingList}">my 주문조회</a></li>
									<li><a th:href="@{/mypageBasketList}">my 위시리스트</a></li>
									<li><a th:href="@{/mypageGetGift}">my 선물함</a></li>
									<li><a th:href="@{/mypageInfo}">my 정보</a></li>
									<li><a th:href="@{/mypageQna}">my Q&A</a></li>
								</ul></li>
							<li><a href="#">my shop</a>
								<ul class="dropdown">
									<li><a href="./product-details.html">information</a></li>
									<li><a href="./shop-cart.html">product</a></li>
									<li><a href="./checkout.html">review</a></li>
									<li><a href="./blog-details.html">sales</a></li>
								</ul></li>
														<li><a href="#">customer center</a>
								<ul class="dropdown">
									<li><a th:href="@{./noticePage}">Notice</a></li>
									<li><a th:href="@{./fnqPage}">FnQ</a></li>
									<li><a th:href="@{./qnaPage}">Qna</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
						<div class="header__right">
						<div th:if="${n == null}" class="header__right__auth">
							<a th:href="@{/login}">일반</a><a th:href="@{/sellerlogin}">판매자</a>
							<a th:href="@{/selectpage}">회원가입</a>
						</div>
						<div th:if="${n != null}" class="header__right__auth">
							<a th:text="${n}" th:href="@{/mypageMain}"></a> <a
								th:href="@{/logout}">로그아웃</a>
						</div>
						<ul class="header__right__widget">
         				   <li><a th:href="@{/mypageHeartList}"><span class="icon_heart_alt"></span>
           					 </a></li>
          				  <li><a th:href="@{/mypageBasketList}"><span class="icon_bag_alt"></span>
            				</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/test}"><i class="fa fa-home"></i> Home</a>
                        <span>my page</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-3">
					<div class="shop__sidebar">
						<div class="sidebar__categories">
							<div class="section-title">
								<h4>My page</h4>
							</div>
							<div class="categories__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading active">
											<a data-toggle="collapse" data-target="#collapseOne">my 주문주회</a> 
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													<li><a th:href="@{/mypageShoppingList}">my 기프티콘 조회</a></li>
													<li><a th:href="@{/mypagePointSet}">my 포인트 조회</a></li>
													<li><a th:href="@{/mypageShoppingAllList}">my 구매 내역</a></li>
													<li><a th:href="@{/mypageBuyCancel}">기프티콘 구매취소</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseTwo">my
												위시리스트</a>
										</div>
										<div id="collapseTwo" class="collapse"
											data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													<li><a th:href="@{/mypageBasketList}">my 장바구니</a></li>
													<li><a th:href="@{/mypageHeartList}">my 찜한가게</a></li>
												</ul>
											</div>
										</div>
									</div>
									
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseFour">my
												정보</a>
										</div>
										<div id="collapseFour" class="collapse"
											data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													<li><a th:href="@{/mypageInfo}">my 정보 조회</a></li>
													<li><a th:href="@{/mypageInfoCancel}">회원탈퇴</a></li>
												</ul>
											</div>
										</div>
									</div>
										<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseFive">my
												Q&A</a>
										</div>
										<div id="collapseFive" class="collapse"
											data-parent="#accordionExample">
											<div class="card-body">
												<ul>
													<li><a th:href="@{/mypageQna}">1:1 문의하기</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                      
                <div class="col-lg-9 col-md-9">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><b Style="font-size:25px;"><label th:text="${nid.nname}"></label></b> 님의 회원탈퇴입니다</h6>
                </div>
            </div>
            <form action="updateState" class="checkout__form">	
                        <h5>회원탈퇴</h5>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p><br/>
                                    <b>회원탈퇴를 위해 비밀번호를 입력해주세요<span>*</span></b>
                                    </p>
                                    <p>
                                   	<input type="password" th:name="npassword" placeholder="현재 비밀번호를 입력하세요" required style="width: 280px;" />&nbsp;&nbsp;
                                   	<button type="submit" id="infoBtn" style="margin:none;">회원탈퇴</button>
                               		</p>
                               		<br/>
                               		<h6><b>회원 탈퇴 규정</b></h6><br/>
                               		<p><b>개인정보 보호법</b><br/>
                               		 제39조의5(개인정보의 보호조치에 대한 특례)<br/>
                               		  정보통신서비스 제공자 등은 이용자의 개인정보를 처리하는 자를 최소한으로 제한하여야 한다. [본조 신설 2020. 2. 4.]<br/>
                               		 <br/> 
                               		 제39조의6(개인정보의 파기에 대한 특례)<br/>
                               		  ① 정보통신서비스 제공자등은 정보통신서비스를 1년의 기간 동안 이용하지 아니하는 이용자의 개인정보를 보호하기 위하여 대통령령으로 정하는 바에 따라 개인정보의 파기 등 필요한 조치를 취하여야 한다. 다만, 그 기간에 대하여 다른 법령 또는 이용자의 요청에 따라 달리 정한 경우에는 그에 따른다.<br/>
                               		 ② 정보통신서비스 제공자등은 제1항의 기간 만료 30일 전까지 개인정보가 파기되는 사실, 기간 만료일 및 파기되는 개인정보의 항목 등 대통령령으로 정하는 사항을 전자우편 등 대통령령으로 정하는 방법으로 이용자에게 알려야 한다. [본조 신설 2020. 2. 4.] 
                               		 <br/>
                               		 제39조의7(이용자의 권리 등에 대한 특례) <br/>
                               		 ① 이용자는 정보통신서비스 제공자 등에 대하여 언제든지 개인정보 수집ㆍ이용ㆍ제공 등의 동의를 철회할 수 있다.<br/>
                               		 ② 정보통신서비스 제공자등은 제1항에 따른 동의의 철회, 제35조에 따른 개인정보의 열람, 제36조에 따른 정정을 요구하는 방법을 개인정보의 수집 방법보다 쉽게 하여야 한다.<br/>
                               		 ③ 정보통신서비스 제공자등은 제1항에 따라 동의를 철회하면 지체 없이 수집된 개인정보를 복구ㆍ재생할 수 없도록 파기하는 등 필요한 조치를 하여야 한다. [본조 신설 2020. 2. 4.]<br/>
                               		 <br/>
                               		 제36조(개인정보의 정정ㆍ삭제)<br/>
                               		  ① 제35조에 따라 자신의 개인정보를 열람한 정보주체는 개인정보처리자에게 그 개인정보의 정정 또는 삭제를 요구할 수 있다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없다.<br/>
                               		  ② 개인정보처리자는 제1항에 따른 정보주체의 요구를 받았을 때에는 개인정보의 정정 또는 삭제에 관하여 다른 법령에 특별한 절차가 규정되어 있는 경우를 제외하고는 지체 없이 그 개인정보를 조사하여 정보주체의 요구에 따라 정정ㆍ삭제 등 필요한 조치를 한 후 그 결과를 정보주체에게 알려야 한다. 
                               		 <br/>
                               		 ③ 개인정보처리자가 제2항에 따라 개인정보를 삭제할 때에는 복구 또는 재생되지 아니하도록 조치하여야 한다. <br/>
                               		 ④ 개인정보처리자는 정보주체의 요구가 제1항 단서에 해당될 때에는 지체 없이 그 내용을 정보주체에게 알려야 한다. <br/>
                               		 ⑤ 개인정보처리자는 제2항에 따른 조사를 할 때 필요하면 해당 정보주체에게 정정ㆍ삭제 요구사항의 확인에 필요한 증거자료를 제출하게 할 수 있다. <br/>
                               		 ⑥ 제1항ㆍ제2항 및 제4항에 따른 정정 또는 삭제 요구, 통지 방법 및 절차 등에 필요한 사항은 대통령령으로 정한다.
									</p>
                                </div>
                            </div>
                </form>
            </div>
                  </div>
                    </div>
                </div>
                
           	
    </section>
    <!-- Shop Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>