<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   우리티콘
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/logo-small.png">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
       <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="./index.html">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a th:href="@{./customer}">
              <i class="nc-icon nc-single-02"></i>
              <p>Customer</p>
            </a>
          </li>
          <li>
            <a href="./sales.html">
              <i class="nc-icon nc-money-coins"></i>
              <p>Sales</p>
            </a>
          </li>
          <li>
            <a href="./product.html">
              <i class="nc-icon nc-app"></i>
              <p>Product</p>
            </a>
          </li>
          <li>
            <a href="./banner.html">
              <i class="nc-icon nc-layout-11"></i>
              <p>Banner</p>
            </a>
          </li>
          <li>
            <a href="./category.html">
              <i class="nc-icon nc-tile-56"></i>
              <p>Category</p>
            </a>
          </li>
          <li>
            <a th:href="@{./getQnaList}">
              <i class="nc-icon nc-chat-33"></i>
              <p>QnA</p>
            </a>
          </li>
          <li>
            <a th:href="@{./getNoticeList}">
              <i class="nc-icon nc-paper"></i>
              <p>Notice</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="nc-icon nc-spaceship"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">우리티콘</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="javascript:;">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h3 class="card-title"> 매출조회 </h3>
                <p class="card-category"> Here is a check for sales</p>
              </div>

                  <table class="table" style="border:0px;">
                    <tbody width="25%">
                      <tr width="25%" style="text-align: center">
                        <td style="text-align: center" >
                          <h5>조회방법</h5>
                        </td>
                        <td style="text-align: left; padding-left: 10%; padding-top:2%; padding-bottom:2%;">
											<button  style="background-color:#F15F5F" type="button" class="btn btn-default btn-lg">
												<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
												YEAR
											</button>
											<button style="background-color:#F15F5F" type="button" class="btn btn-default btn-lg">
												<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
												MONTH
											</button>
											<button style="background-color:#F15F5F" type="button" class="btn btn-default btn-lg">
												<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
												DATE
											</button>
											<button style="background-color:#F15F5F" type="button" class="btn btn-default btn-lg">
												<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
												LOCATION
											</button>
										</td>
                      </tr>
                        <tr width="25%">
                         <td  style="text-align: center">
                        <h5>기간</h5>
                        </td>
                        <td style="text-align: left; padding-left: 10%;padding-top:2%; padding-bottom:2%;">
											<form>
											<h5>
													<input type="date" >~
													<input type="date" > 
													
													<button style="margin-left:40%; background-color: #486AAE" type="button" class="btn btn-default">조회</button></h5>
												</form>
										</td>
										
                      </tr>
                      
                    </tbody>
                  </table>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" style="background-color:white;">
                    <thead class="text-primary">
                    <h5>
                      <th width="10%">
                        년
                      </th>
                      <th width="10%">
                        매출건수
                      </th>
                      <th width="20%">
                        매출액
                      </th>
                      <th width="60%">
                        그래프
                      </th>
                      </h5>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          2022
                        </td>
                        <td>
                          5건
                        </td>
                        <td>
                          1,520,000
                        </td>
                        <td>
                        <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
							</td>
                      </tr>
                      <tr>
                        <td>
                          2022
                        </td>
                        <td>
                          5건
                        </td>
                        <td>
                          1,520,000
                        </td>
                        <td>
                        <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
							</td>
                      </tr>
                      <tr>
                        <td>
                          2022
                        </td>
                        <td>
                          5건
                        </td>
                        <td>
                          1,520,000
                        </td>
                        <td>
                        <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
							</td>
                      </tr>
                      <tr>
                        <td>
                          2022
                        </td>
                        <td>
                          5건
                        </td>
                        <td>
                          1,520,000
                        </td>
                        <td>
                        <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
							</td>
                      </tr>
                      <tr>
                        <td>
                          2022
                        </td>
                        <td>
                          5건
                        </td>
                        <td>
                          1,520,000
                        </td>
                        <td>
                        <div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									</div>
								</div>
							</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
</body>

</html>